<a href="https://colab.research.google.com/github/sipocz/Alarm/blob/main/datapipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [2]:
url="https://raw.githubusercontent.com/sipocz/Alarm/main/Result/EventNumber_SP_20210611.csv"

In [3]:
!wget $url

--2021-06-14 18:55:28--  https://raw.githubusercontent.com/sipocz/Alarm/main/Result/EventNumber_SP_20210611.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3685 (3.6K) [text/plain]
Saving to: ‘EventNumber_SP_20210611.csv’

EventNumber_SP_2021 100%[===================>]   3.60K  --.-KB/s    in 0s

2021-06-14 18:55:28 (49.1 MB/s) - ‘EventNumber_SP_20210611.csv’ saved [3685/3685]

In [4]:
fname=url.split("/")[-1]

In [23]:
df=pd.read_csv(fname)
df.head()

   Unnamed: 0     1     2     3     4     5    6  ...  24  25  26  27  28  29  30
0  2021060106  2313  1562  1519  1514  1455  522  ...  29  28  26  26  26  26  24
1  2021060114  1435   613   389   275   257  183  ...  68  66  66  65  64  64  64
2  2021060122  1440   451   275   200   162  144  ...  48  48  48  46  45  43  43
3  2021060206  1440  1001   771   326   271  251  ...  66  66  64  63  60  60  60
4  2021060214  1437   810   449   318   292  245  ...  86  82  80  80  78  72  72

[5 rows x 31 columns]

In [22]:
df.columns

Index(['Unnamed: 0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30'],
      dtype='object')

In [21]:
df["0"].plot()

KeyError: ignored